pandas
# snakemake
pyaml          # YAML 1.1
# ruamel.yaml  # YAML 1.2
# conda-forge::ncurses  # required by samtools but somehow missed to install
bioconda::samtools>=1.9
#openssl
bioconda::bedtools
bioconda::deeptools
bioconda::bedops          # bedmap, sort-bed
numpy
numba
pysam
scipy
biopython
matplotlib
scikit-learn
# pytorch::pytorch
pytest
pytest-flake8
pytest-cov
pytest-order
