pandas
# snakemake
pyaml          # YAML 1.1
# ruamel.yaml  # YAML 1.2
ncurses  # required by samtools but somehow missed to install
samtools>=1.9
openssl
skewer
bwa
fastqc
multiqc
bedtools
novoalign
deeptools
pyranges
pybigwig
ucsc-bedgraphtobigwig
ucsc-fatotwobit
gatk4
sortedcontainers
numpy
numba
pysam
bx-python
joblib
scipy
bismark
bedops          # bedmap, sort-bed
bowtie2
samblaster  # probably using older samtools
biopython
logomaker
matplotlib
## try to move in separate env:
#liquorice
#ray
# extra packages:
#seaborn
#jupyterlab
#notebook
# testing
pytest
pytest-flake8
pytest-cov
pytest-order